@model HelpDeskSystem.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

@section Scripts{
    <!-- jQuery -->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/assets/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/assets/dist/js/demo.js"></script>
}

<div class="card rounded-4">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h6 class="mb-0">Ticket Details </h6>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <h4>Ticket Details</h4>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Title)
                        </td>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Description)
                        </td>
                    </tr>

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Status)
                        </td>
                        <th>
                            @Html.DisplayNameFor(model => model.Priority)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Priority)
                        </td>
                    </tr>

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.CreatedBy.FullName)
                        </td>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedOn)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.CreatedOn)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-warning" asp-action="Index">Back to List</a>
</div>