@model HelpDeskSystem.ViewModels.TicketViewModel

@{
    ViewData["Title"] = "Index";
}

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/assets/plugins/fontawesome-free/css/all.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/assets/dist/css/adminlte.min.css">

<h1>Ticket List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Ticket</a>
</p>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PriorityId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SubCategory)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedOn)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.StatusId)
                                    </th>
                                    <th>No Of Comment</th> <!-- Jumlah Comment -->
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.Tickets)
                                {
                                    // Untuk Memberi Identifikasi/Warna pada status
                                    var colorCode = "Red";

                                    if (item.Status.Code == "Resolved")
                                    {
                                        colorCode = "Green";
                                    }
                                    else if (item.Status.Code == "Escalated")
                                    {
                                        colorCode = "Yellow";
                                    }
                                    else if (item.Status.Code == "InProgress")
                                    {
                                        colorCode = "Purple";
                                    }
                                    else if (item.Status.Code == "Closed")
                                    {
                                        colorCode = "Green";
                                    }
                                    else if (item.Status.Code == "Awaiting Assigment")
                                    {
                                        colorCode = "Red";
                                    }

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Priority.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubCategory.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedOn)
                                        </td>
                                        <td style="background-color:@colorCode; color:white ">
                                            @Html.DisplayFor(modelItem => item.Status.Description)
                                        </td>
                                        <td style="text-align:center">
                                            @item.TicketComments.Count()
                                        </td>
                                        <td>
                                            <div class="nav-item dropdown btn btn-primary">
                                                <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle" style="color:white">Action</a>
                                                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                                    <li>
                                                        <a class="dropdown-item" asp-action="TicketsComments" asp-controller="Comments" asp-route-id="@item.Id">Comments</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                                    </li>
                                                    @if (item.Status.Code != "Resolved" && item.Status.Code != "Closed")
                                                    {
                                                        <li>
                                                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Assign</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" asp-action="Resolve" asp-route-id="@item.Id">Resolve</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Script -->

@section Scripts {
    @await Component.InvokeAsync("NToastNotify")
    @*jquery*@
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    @*bootstrap 4*@
    <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    @*adminlte app*@
    <script src="~/assets/dist/js/adminlte.min.js"></script>
    @*adminlte for demo purposes*@
    <script src="~/assets/dist/js/demo.js"></script>
    @*datatables  & plugins*@
    <script src="~/assets/plugins/datatables/jquery.datatables.min.js"></script>
    <script src="~/assets/plugins/datatables-bs4/js/datatables.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables-responsive/js/datatables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables-buttons/js/datatables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatables-buttons/js/buttons.colvis.min.js"></script>
    @*page specific script*@
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": true,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "responsive": true,
            });
        });
    </script>
}